<div class="tetris-board">
  <span *ngFor="let row of background; let i =index">
    <span *ngFor="let color of row; let j=index">
      <div [ngClass]="{
        'square': true,
        'border-left': bgReborde[i][j]  && j-1 >= 0 && !bgReborde[i][j-1],
        'border-right': bgReborde[i][j]  && j+1 < bgReborde[0].length && !bgReborde[i][j+1],
        'border-top': bgReborde[i][j]  && i-1 >= 0 && !bgReborde[i-1][j],
        'border-bottom': bgReborde[i][j]  && i+1 < bgReborde.length && !bgReborde[i+1][j],

        'no-left': !bgReborde[i][j] && j-1 >= 0 && bgReborde[i][j-1],
        'no-right': !bgReborde[i][j] && j+1 < bgReborde[0].length && bgReborde[i][j+1],
        'no-top': !bgReborde[i][j] && i-1 >= 0 && bgReborde[i-1][j],
        'no-bottom': !bgReborde[i][j]  && i+1 < bgReborde.length && bgReborde[i+1][j]
    }" [style.background]="color"
    [class]="buffo && buffo.x == j && buffo.y == i ? buffo.tipo : ''"
    [style.border-color]="buffo && buffo.x == j && buffo.y == i ? 'black': bgReborde[i][j]  ? bgReborde[i][j].color : 'black'">

      </div>
    </span>
  </span>
</div>

