.ventana-principal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vb;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../assets/tetris.jpg');
}

  
.ventana-principal-content {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(255, 122, 89, .5)
}
  
.ventana-principal-title {
    font-size: 5rem;
    margin-bottom: 10px;
    text-align: center;
}
  
.ventana-principal-subtitle {
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
}
  
.ventana-principal-buttons {
    display: flex;
    justify-content: center;
}
  
.ventana-principal-buttons.btn{
    text-decoration: none;
    padding: 20px 50px;
    font-size: 1.5rem;
    position: relative;
    margin: 32px;
}
  
.btn{
    text-decoration: none;
    padding: 20px 50px;
    font-size: 1.5rem;
    position: relative;
    margin: 32px;
}

/*BUTON 1*/

.btn-1{
    margin-top: 200px;
    color: black;
    font-weight: bold;
    border-radius: 40px;
    box-shadow: 0 0 0 0 rgba(143, 64, 248, 0.5), 0 0 0 0 rgba(39, 200, 255, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    background-color: rgb(177, 83, 201, 1)
}

.btn-1::after{
    content: "";
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    background: #13ff13;
    background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
    z-index: -1;
    transition: transform 0.5s ease;
}

.btn-1:hover{
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgba(16, 226, 253, 0.5), -10px 10px 25px 0 rgba(183, 0, 255, 0.794);
}
  
.btn-1:hover::after{
    transform: rotate(150deg);
}


/*BUTON 2*/
.btn-2{
    margin-top: 200px;
    color: black;
    font-weight: bold;
    border-radius: 40px;
    box-shadow: 0 0 0 0 rgba(236, 157, 8, 0.5), 0 0 0 0 rgba(39, 200, 255, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    overflow: hidden;
    background-color: rgb(24, 33, 219, .9)
}

.btn-2::after{
    content: "";
    width: 550px;
    height: 550px;
    position: absolute;
    top: -50px;
    left: -100px;
    background: #13ff13;
    background-image: linear-gradient(-225deg, #0bd1a6 0%, #0b0eb3 29%, #0bd837 67%, #FFF800 100%);
    z-index: -1;
    transition: transform 0.5s ease;
}

.btn-2:hover{
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgba(16, 253, 75, 0.5), -10px 10px 25px 0 rgba(11, 153, 209, 0.794);
}
  
.btn-2:hover::after{
    transform: rotate(150deg);
}

/*BOTON 3*/

.btn-3{
    margin-top: 200px;
    color: black;
    font-weight: bold;
    border-radius: 40px;
    box-shadow: 0 0 0 0 rgba(235, 15, 136, 0.5), 0 0 0 0 rgba(113, 179, 7, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    background-color: rgb(239, 143, 14, .9)
}

.btn-3::after{
    content: "";
    width: 600px;
    height: 605px;
    position: absolute;
    top: -50px;
    left: -100px;
    background: #13ff13;
    background-image: linear-gradient(-225deg, #d31684 0%, #f17007 29%, #FF1361 67%, #FFF800 100%);
    z-index: -1;
    transition: transform 0.5s ease;
}

.btn-3:hover{
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgba(221, 245, 7, 0.5), -10px 10px 25px 0 rgba(196, 114, 7, 0.794);
}
  
.btn-3:hover::after{
    transform: rotate(150deg);
}


.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: black;
    min-height: 10vh;
}

.footer a{
    font-size: 3rem;
    text-decoration: none;
    color: red;
    margin-right: 2rem;
}

.footer p{
    font-size: 2.5rem;
    color: white;
} 