<div class="ventana-principal-container">
    <div class="ventana-principal-content">
        <h1 class="ventana-principal-title">POOBTRIZ</h1>
        <h2 class="ventana-principal-subtitle">Elige un modo de juego:</h2>
          <div class="ventana-principal-buttons">
  
              <button href="#" class="btn btn-2" routerLink="/crear-partida">Crear partida en línea</button>
              <button href="#" class="btn btn-3" routerLink="/conectarme-a-partida">Conectarme a partida</button>
          </div>
    </div>
  </div>
