<app-blocked [blocked]="blockedDocument" message="Esperando a que se conecten todos los jugadores"></app-blocked>

<div class="container" *ngIf="lobby && !blockedDocument">
  <app-board *ngIf="tablero" [tablero]="tablero"></app-board>
  <p>{{tablero?.buffo?.tipo}}</p>
  <p>{{tablero?.buffo?.x}}</p>
  <p-table [value]="lobby.players">
    <ng-template pTemplate="header">
      <tr>
        <th>Usuario</th>
        <th>Puntuación</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-player>
      <tr>
        <td>{{player.nick}} <span *ngIf="player.nick == nick">(Tú)</span></td>
        <td>{{player.tablero?.puntuacion}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

