<app-blocked [blocked]="blockedDocument" message="Esperando a que se conecten todos los jugadores"></app-blocked>

<div class="container" *ngIf="lobby && !blockedDocument">
  <app-board *ngIf="tablero" [background]="tablero.background" [bgReborde]="tablero.bgReborde" [buffo]="tablero.buffo"></app-board>
  <div class="table-piece">
    <app-board *ngIf="nextPiece" [background]="nextPiece.bg" [bgReborde]="nextPiece.bgReborde"></app-board>
    <p-table [value]="lobby.players">
      <ng-template pTemplate="header">
        <tr>
          <th>Usuario</th>
          <th>Puntuación</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-player>
        <tr>
          <td>{{player.nick}} <span *ngIf="player.nick == nick">(Tú)</span></td>
          <td>{{player.tablero?.puntuacion}}</td>
        </tr>
        <tr *ngIf="lobby.bot">
          <td>{{lobby.bot.nick}}</td>
          <td>{{lobby.bot.tablero.puntuacion}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <app-board *ngIf="lobby.bot" [background]="lobby.bot.tablero.background" [bgReborde]="lobby.bot.tablero.bgReborde" [buffo]="lobby.bot.tablero.buffo"></app-board>
</div>

